{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Capitan</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/1.jpg" class="img-thumbnail">
    </div>

</div>   

{{>footer }}